APP_ENV=production
APP_DEBUG=false
APP_BASE_URL=/AG

DB_DRIVER=pgsql
DB_HOST=db.cdjiwaokffktyocemhya.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=YOUR_SUPABASE_DATABASE_PASSWORD
DB_SCHEMA=public
DB_SSLMODE=require
